<div class="row mt-3">
    <!-- Div apropósito para que el contenido no choque con el menú fijo y flotante -->
    <div class="col-2"></div>

    <div class="col">
        <h1>Lista de propiedades</h1>
        <hr>
    </div>
</div>

<div class="row container">
    <!-- Div apropósito para que el contenido no choque con el menú fijo y flotante -->
    <div class="col-2"></div>

    <div class="col">

        <!-- Contenedor con las tarjetas de las diferentes propiedades -->
        <div class="row">
            <div 
            class="col-4 mb-2"
            *ngFor="let propiedad of propiedades">

                <div class="card">
                    <!-- CARGAMOS EL COMPONENTE MINIMAPA -->
                    <app-mini-mapa class="card-img-top" [lngLat]="propiedad.lngLat"></app-mini-mapa>
                    
                    <div class="card-body">
                        <h5 class="card-title"> {{propiedad.titulo}} </h5>
                        <p class="card-text"> {{propiedad.descripcion}} </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
